version: "3.9"

services:

  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: schooldb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"   # school project uses its own DB port

  backend:
    build: .
    restart: always
    env_file: .env
    depends_on:
      - postgres
    expose:
      - "8000"  # only internal
    volumes:
      - ./media:/app/media  # only media should be mounted (safe)

  nginx:
    image: nginx:stable
    restart: always
    depends_on:
      - backend
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./media:/app/media       # serve uploaded files
      # ❗ DO NOT MOUNT STATICFILES — they live inside backend container

volumes:
  postgres_data:
