version: "3.9"

services:

  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: schooldb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  backend:
    build: .
    restart: always
    env_file: .env
    depends_on:
      - postgres
    ports:
      - "8001:8000"
    # ❗ DO NOT MOUNT ./:/app — it overrides staticfiles produced during build
    # Use a clean image → staticfiles stay inside container

  nginx:
    image: nginx:stable
    restart: always
    depends_on:
      - backend
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./media:/app/media        # media is OK to mount
      # ❗ DO NOT MOUNT staticfiles – they must stay inside backend container

volumes:
  postgres_data:
