/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 250px;
  background: #2b2a8f;
  color: #fff;
  padding: 20px;
  min-height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  width: 200px;
}

.sidebar-title {
  margin: 15px 0;
  font-weight: bold;
  font-size: 29px;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 5px;
  transition: 0.3s;
}

.menu a.active,
.menu a:hover {
  background: #fff;
  color: #4D38D7;
}

.menu a.active,
.menu a:hover {
  background: white;
  color: #4D38D7;
}

.menu a:hover img,
.menu a.active img {
  filter: brightness(0) saturate(100%) invert(20%) sepia(80%) saturate(2600%) hue-rotate(235deg) brightness(90%) contrast(100%);
}

/* Контент */
.content {
  flex: 1;
  padding: 20px;
  background: #f8f8f8;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.topbar input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 250px;
}

.topbar .icons a img {
  width: 40px;
  margin-left: 15px;
}

.content {
; /* ширина твоего sidebar */
  padding: 20px;
}

.content-header h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #222;
}

.form-card {
  background: #fff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  max-width: 600px;
}

.form-card form {
  display: flex;
  flex-direction: column;
}

.form-card label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

.form-card input[type="text"],
.form-card input[type="password"],
.form-card input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-upload button {
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.save-btn {
  margin-top: 20px;
  background: #2E2485; /* фиолетовый как в sidebar */
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.save-btn:hover {
  background: #4D38D7;
}

.custom-btn {
  display: inline-block;
  padding: 8px 15px;
  background: #4D38D7;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.custom-btn:hover {
  background: #3728a6;
}
