{% load static %}

<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sozlamalar</title>
  <link rel="stylesheet" href="{% static 'css/teacher-settings-style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="logo">
        <img src="{% static 'img/Logo.png' %}" alt="Logo" class="logo-img">
      </div>
      <h3 class="sidebar-title">School Admin</h3>
      <nav class="menu">
        <a href="/teachers/" ><img src="{% static 'icons/Asosiy.png' %}" alt=""> Asosiy</a>
        <a href="/classes/"  ><img src="{% static 'icons/O‘quvchi.png' %}" alt=""> Siniflar</a>
        <a href="/jadval/" ><img src="{% static 'icons/O‘qituvchi.png' %}" alt=""> Jadval</a>
        <a href="/sozlamalar/"><img src="{% static 'icons/sozlamalar.png' %}" alt=""> Sozlamalar</a>
      </nav>
    </aside>

    <!-- Content -->
    <main class="content">
      <!-- Topbar -->
      <div class="topbar">
        <input type="text" placeholder="Qidiruv">
        <div class="icons">
          <a href="#"><img src="{% static 'icons/Xabarlar.png' %}" alt="Bell"></a>
          <a href="#"><img src="{% static 'icons/Profil.png' %}" alt="Profile"></a>
        </div>
      </div>

      <div class="content">
        <div class="content-header">
          <h2>Sozlamalar</h2>
        </div>

        <div class="form-card">
          <form>
            <label for="ism">Ism</label>
            <input type="text" id="ism" name="ism" placeholder="Ismni kiriting">

            <label for="login">Login</label>
            <input type="text" id="login" name="login" placeholder="Loginni kiriting">

            <label for="parol">Parol</label>
            <input type="password" id="parol" name="parol" placeholder="Parolni kiriting">

            <label for="rasm">Rasim</label>
            <div class="file-upload">
              <input type="file" id="fileUpload" hidden>
              <label for="fileUpload" class="custom-btn">Выбрать файл</label>
            </div>

            <button type="submit" class="save-btn">Saqlash</button>
          </form>
        </div>
      </div>
    </main>
  </div>  
</body>
</html>
